<div class="main-content">
  <!-- Barra lateral -->
  <%= render "barra_lateral" %>

  <!-- Conteúdo principal -->
  <div class="content-area">
    <div class="row">
      <div class="col">
        <h4>Olá, <%= current_user.username %>!</h4>
        <h5 class="text-secondary">
          Este é um resumo do que está acontecendo na PIAF:
        </h5>
        <hr />
      </div>
    </div>

    <!-- Área dos Cards de processos seletivos mais recentes -->
    <div id="carouselExampleIndicators" class="carousel slide bg-dark" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <% @courses.each do |course| %>
              <%= render CardCourseComponent.new(course: course) %>
            <% end %>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>

    <hr>
    <!-- Mostrar modalidades que já geraram o resultado -->
    <div>
      <div class="content-area">
        <div class="row">
          <div class="col">
            <h5 class="text-secondary">
              Inscrições que já encerraram:
            </h5>
            <hr />
          </div>
        </div>
      </div>

      <div>

      </div>
    </div>
  </div>
</div>

<%# @courses.each do |course| %>
  <%#= render CardCourseComponent.new(course: course) %>
<%# end %>