<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Em Andamento</h1>
    </div>
  <% if @open_courses.any? %>
    <% @open_courses.each do |course| %>
      <%= render CardCourseComponent.new(course: course) %>
    <% end %>
  <% else %>
    <p>Nenhum curso com inscrições abertas no momento.</p>
  <% end %>
  </div>
   <div class="row mt-5">
    <div class="col-12">
      <h1>Finalizadas</h1>
    </div>
  <% if @past_courses.any? %>
    <% @past_courses.each do |course| %>
      <%= render CardCourseComponent.new(course: course) %>
    <% end %>
  <% else %>
    <p>Nenhum curso com inscrições encerradas.</p>
  <% end %>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h1>Próximas Turmas</h1>
    </div>
    <% if @future_courses.any? %>
      <% @future_courses.each do |course| %>
        <%= render CardCourseComponent.new(course: course) %>
      <% end %>
    <% else %>
      <p>Nenhum curso com inscrições futuras.</p>
    <% end %>
</div>

