<div class="container">
        <div class="alert alert-warning" role="alert">
            <strong>(Para Maiores de 18 anos)</strong>
        </div>

        <h2>Esclarecimentos</h2>
        <p>Este é um convite para você participar de pesquisas científicas do' <strong>COESPE</strong>, que tem como pesquisador responsável <strong>Romilson de Lima Nunes</strong>.</p>
        <p>Esta pesquisa pretende promover saúde geral e engajamento ao exercício físico.</p>
        <p>O motivo que nos leva a fazer este estudo é a intenção de melhorar os serviços prestados pelo Complexo. Caso decida participar, você concordará em responder questionários de avaliações relacionados à saúde geral, à sua interação/percepção com as aulas do Projeto em que se inscreveu e que esses dados sejam usados exclusivamente para fins de pesquisa com o pesquisador, garantindo a realização da pesquisa em ambiente adequado e reservado para garantir a privacidade do participante. Essas avaliações ocorrerão a cada sessão de treinamento e trimestralmente, levando 5 minutos e 30 minutos, respectivamente, para conclusão dos questionários.</p>
        <p>Durante a realização da pesquisa poderão ocorrer eventuais desconfortos como perguntas de cunho pessoal ou que possam trazer lembranças negativas, mas esses riscos poderão ser minimizados com a certeza do sigilo das informações e com a disponibilidade dos coordenadores e instrutores de cada projeto em ajudar sempre que necessário.</p>
        <p>Como benefícios da pesquisa, você terá acesso à estrutura do projeto em que se inscreveu, colhendo também benefícios à saúde física e mental advindos da prática dos exercícios físicos.</p>
        <p>Em caso de complicações ou danos à saúde que você possa ter relacionado com a pesquisa, compete ao pesquisador responsável garantir o direito à assistência integral e gratuita, que será prestada pela equipe de saúde do COESPE.</p>
        <p>Durante todo o período da pesquisa, você poderá tirar suas dúvidas ligando para <strong>Francisco Jean Carlos da Silva</strong>, email: <a href="mailto:prjeansilva100@gmail.com">prjeansilva100@gmail.com</a>, telefone: <strong>84 9607-9118</strong>.</p>
        <p>Você tem o direito de se recusar a participar ou retirar seu consentimento, em qualquer fase da pesquisa, sem nenhum prejuízo para você.</p>
        <p>Os dados que você irá nos fornecer serão confidenciais e serão divulgados apenas em congressos ou publicações científicas, sempre de forma anônima, não havendo divulgação de nenhum dado que possa lhe identificar. Esses dados serão guardados pelo pesquisador responsável por essa pesquisa em local seguro e por um período de 5 anos.</p>

        <hr class="my-4">

        <h2>Consentimento Livre e Esclarecido</h2>
        <p>Após ter sido esclarecido sobre os objetivos, importância e o modo como os dados serão coletados nessa pesquisa, além de conhecer os riscos, desconfortos e benefícios que ela trará para mim e ter ficado ciente de todos os meus direitos, concordo em participar das pesquisas, e autorizo a divulgação das informações por mim fornecidas em congressos e/ou publicações científicas, desde que nenhum dado possa me identificar.</p>
    </div>