<!-- utilizar isso mais tarde <%= current_user.email %>! -->
<h1>
    <%= @greeting %>, Usuário da PIAF :)
</h1>

<p>
    Você pode olhar as inscrições abertas, as que já passaram e as que estão por vir.
    Se sinta a vontade para se inscrever em alguma atividade física que lhe interesse.
    Todos os anos temos editais com todas as regras e atividades disponíveis.
</p>

<p>
    Se você quiser manter-se infromado sem a necessidade de estar sempre no nosso site,
    você pode seguir nosso perfil do instagram!
</p>