<div class="page">
  <div class="content">
    <div class="container-xl">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Bem-vindo, <%= current_user.username %>!</h3>
            </div>
            <div class="card-body">
              <p>Você está logado na aplicação.</p>
              <p>Aqui você pode adicionar mais conteúdo, como gráficos, tabelas, etc.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
