
/* A estilização não está carregando, portanto temporáriamente
   está sendo usada no arquivo "image_component.html.erb
   
   A estrutura está assim:
   app/
    |── assets/
    |  └── stylesheets/
    |      ├── application.scss
    |      └── _image_component.scss
    └── components/
        └── image_component.html.erb
    
    Porém mesmo assim não está carregando, então futuramente haverá
    mudanças nas estilizações, para analisar mais profundamente a equipe
    de desenvolvimento frontend, irá reservar 1 semana para correção do
    problema. Pois não é somente este arquivo que não estiliza, mas também
    as cores que foram mudadas no arquivo "_custom_bootstrap.scss". 
    */

.image-container {
  padding: 1rem;
  border: 3px solid #cccccc;
  border-radius: 1rem;
  display: inline-block;
}

.rounded-image {
  border-radius: 1rem;
}
