body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}
#cards-div {
  display: flex;
  
  margin-top: 20px;
}
#sidebar {
  width: 250px;
  min-height: 100vmin;
  background: linear-gradient(to right, #9c0010, #d31705);
  color: white;
  transition: all 0.3s;
  padding-top: 20px;
  position: relative;
}
#sidebar.collapsed {
  width: 80px;
}
#sidebar .nav-link {
  color: white;
  display: flex;
  align-items: center;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background 0.3s;
}
#sidebar .nav-link:hover {
background: linear-gradient(to right, #9c0010, #d31705);
}
#sidebar .nav-link i {
  margin-right: 15px;
}
#sidebar.collapsed .nav-link span {
  display: none;
}
/* Botão hambúrguer */
#sidebar-toggler {
position: absolute;
top: 550px;
left: 100%;
transform: translate(-50%, -50%);
cursor: pointer;
color: white;
font-size: 1.8rem;  /* Tamanho do ícone */
background: linear-gradient(to right, #9c0010, #d31705);
width: 62px;  /* Largura fixa */
height: 62px; /* Altura fixa */
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
border: 3px solid white;
transition: left 0.3s;
}

#sidebar.collapsed #sidebar-toggler {
  left: 80%;
}
#content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s;
}
.collapsed #content {
  margin-left: 80px;
}
@media (max-width: 768px) {
#sidebar {
  width: 180px;
}
}

.swiper-slide {
  min-width: 250px; /* Evita que os cards fiquem muito estreitos */
}
main {
  flex-grow: 1;
  min-width: 0; /* Evita que o flex cause bugs */
}
