body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5),
    rgba(173, 216, 230, 0.5),
    rgba(255, 214, 220, 0.5)
  );
  background-attachment: fixed;
  background-size: cover;
}

#cards-div {
  display: flex;
  margin-top: 20px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 180px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  padding-top: 20px;
  position: relative;
  z-index: 1000;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

#sidebar .nav-link {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

#sidebar .nav-link:hover {
  background: #f1f5f9;
  transform: scale(1.05);
  color: #020817;
}

#sidebar .nav-item {
  margin-bottom: 10px;
}

#sidebar .nav-link i {
  margin-right: 10px;
}

#content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s;
}

@media (max-width: 768px) {
  #sidebar {
    transform: translateX(-100%);
  }

  #content {
    margin-left: 0;
  }
}

.swiper-slide {
  min-width: 250px;
}

main {
  flex-grow: 1;
  min-width: 0;
}
