@import "bootstrap";

/*
*= require_self
*= require admin-dashboard
*/

/* app/assets/stylesheets/application.css */
/* app/assets/stylesheets/application.css */
fieldset {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
  }
  
  legend {
    width: auto;
    padding: 0 10px;
    font-size: 1.1rem;
  }